@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --navigation-hieght: 4.8rem;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


@layer base{
  html{
    @apply bg-background font-sans text-offWhite;
    font-size: 62.5%;
  }
}

@layer utilities{
  .text-shadow{
    text-shadow: rgba(0, 0, 0, 0.56) 0px 3px 12px;
  }
  .text-gradient{
    background: linear-gradient(to right bottom, rgb(255,255,255) 30%, rgba(255, 255, 255, 0.38));
    background-clip: text;
    color: transparent;
  }
}

